@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


:root{
  --cd0:#000000;
  --cd1:#051111;
  --cd2:#1E1E1E;
  --cd3:#313131;
  --cw0:#FFFFFF;
  --cw1:#86AA9D;
  --cb0:#3863C9;
  --cb1:#25B1FF;
  --mobile-wrapper:calc(700vw*0.01);

}

body{
  background-color: var(--cd0);
  -webkit-tap-highlight-color: rgba(3, 1, 68, 0);
  outline: none;
  color-scheme:dark;
}

.himg{
  background-image:linear-gradient(to bottom, #00000000,#00000000,#00000000,#000000,#000000),url('/assets/asadullahpic.webp');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 5px 0px;
}
.top-bdr{
  border-radius: 10px 10px 0 0;
}
.bottom-bdr{
  border-radius: 0px 0px 10px 10px;
}
